

li {
    list-style: none;
}

/* header */

.sky-text {
font-family: 'Inter';
font-size: 20px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
text-align: left;

}

#sky-text {
    font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
color: #000000;

}

.sky-link {
    font-family: 'inter';
font-size: 24px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0em;
color: #26C7EA;
padding: 10px 30px 10px 30px;
background-color: #0B0E66;
border-top-left-radius: 45%;
border-bottom-right-radius: 45%;
outline: solid aqua;
display: block;
margin-bottom: 126px;
margin-top: 46px;
width: 260px;
height: 80px;
}

.sky-header {
    font-family: 'Inter';
font-size: 36px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
text-align: justified;
color: #0A3853;

}

/* body */

.energy-link {
    font-family: 'inter';
font-size: 24px;
font-weight: 400;
line-height: 1.6;
letter-spacing: 0em;
text-align: justified;
color: #26C7EA;
margin: 310px;
margin: 310px;
padding: 25px 20px 25px 20px;
outline: solid aqua;
background-color: #0B0E66;
border-top-left-radius: 45%;
border-bottom-right-radius: 45%;
}

.energy-header {
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: justified;
    color: #0A3853;    
}

.energy-text {
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
text-align: justified;
color: #000000;

}

.language-h3 {
font-family: 'inter';
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
color: #000000;

}

.language-text {
font-family: 'Headland+One';
font-size: 24px;
font-weight: 400;
line-height: 1;
letter-spacing: 0em;
text-align: center;
color: #000000;

}

.language-h2 {
font-family: 'Inter';
font-size: 36px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
text-align: justified;
color: #0A3853;
text-align: center;
}

#language-text {
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
color: #000000;
text-align: center;
}

/* footer */

.input-text {
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0em;
text-align: justified;
color: #0B0E66;
}

.input-link {
    font-family: 'HeadlandOne';
font-size: 24px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0em;
text-align: center;
color: #26C7EA;
text-decoration: none;

}

.welcome-text {
    font-family: 'HeadlandOne';
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: justified;    
color: #FFFFFF;

}

#welcome-text {
    font-family:'HeadlandOne';
font-size: 24px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}

.container {
    width: 1062px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

.sky-image:first-child {
    width: 296px;
    height: 96px;
    display: block;
    margin-right: 642px;
}

.sky-image {
    width: 400px;
    height: 120px;
}

.sky-section {
    padding-top: 25px;
    padding-bottom: 10px;
    outline: solid red;
}

.energy-section {
    padding-top: 75px;
    padding-bottom: 10px;
    outline: solid red;
}

.language-section {
    padding-top: 32px;
    padding-bottom: 10px ;
    outline: solid red;
}

.first-row {
    display: flex;
    justify-content: space-around;
}


.sky-text:nth-child(1) {
   margin-top: 149px;
   width: 298px;
}


.sky-button {
   width: 36px;
   height: 20px;
}

.sky-bottom {
display: flex;
flex-direction: column;
align-items: center;
}

.sky-header {
    text-align: center;
}

.energy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.energy-header {
 text-align: center;
}

.energy-text {
    margin-top: 16px;
    margin-bottom: 8px;
}

.energy-image {
    width: 400px;
    height: 120px;
}

.language-h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.language-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 24px;
     column-gap:36px;  
}

.language-item {
    width: 320px;
    height: 240px;
    outline: solid red;
    text-align: center;
    align-items: center;
    justify-content: center; 
    padding-top: 36px;
    padding-bottom: 36px; 
}

.language-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 75px;
}

.language-image {
    margin-bottom: 40px;
    margin-top: 40px;
    
}

#language-image {
   width: 400px;
   height: 120px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* .last-image {

    display: block;
    width: 1360px;
    height: 268px;
} */


